[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/simonpunk/susfs4ksu
[submodule "nomount"]
	path = nomount
	url = https://github.com/maxsteeel/nomount
